/* Stles for desktop */
.icon-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 5px;
    border-bottom: 2px solid transparent;
    vertical-align: top;
    transition: background-color 0.1s;
    text-align: center;
    width: 23%;
}

.icon-s img {
    width: 100%;
    height: auto;
}
.icon-s a {
    text-decoration: none;
    color: #000000;
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    display: block;
    margin-top: 8px;
    line-height: 1.35em;
    transition: color 0.1s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    text-transform: uppercase;
    font: 400 13.3333px Arial;
}

.icon-s span {
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    display: block;
    margin-top: 8px;
    line-height: 1.35em;
    transition: color 0.1s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    text-transform: uppercase;
    font: 400 13.3333px Arial;
    padding: 10px;
}

.icon-s-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    /* Add other styling as needed */
}
/* Media query for mobile */
@media (max-width: 767px) {
    .icon-s {
        width: 48%; /* 2 items per row */
        margin-bottom: 10px;
        padding: 10px 0;
    }

    .icon-s img {
        margin-bottom: 5px;
    }

    .icon-s span {
        font-size: 10px;
        margin-top: 5px;
    }
}

/* avatar */

.avatar {
    display: inline-block;
    margin: 0px auto;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    vertical-align: top;
    text-align: center;
    position: relative;
    border-style: none;
    border-radius: 50%;
    display: inline-block;
}

.avatar.no-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
}

.avatar .overlay {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.avatar img {
    width: 100%;
    vertical-align: top;
    position: relative;
    z-index: 1;
}

.avatar i {
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.avatar-20 {
    height: 20px;
    line-height: 16px;
    vertical-align: middle;
    width: 20px;
}

.avatar-30 {
    /*height: 30px;*/
    /*line-height: 16px;*/
    /*vertical-align: middle;*/
    /*width: 30px;*/
    height: 30px;
    line-height: 16px;
    vertical-align: middle;
    width: 30px;
    text-align: center;
    display: inline-block;
}

.icon-my-footer-25 {
    height: 25px;
    line-height: 16px;
    vertical-align: middle;
    width: 25px;
    text-align: center;
    display: inline-block;
}

.avatar-40 {
    height: 45px;
    line-height: 50px;
    vertical-align: middle;
    width: 45px;
}

.avatar-60 {
    height: 60px;
    line-height: 56px;
    vertical-align: middle;
    width: 60px;
}

.avatar-80 {
    height: 80px;
    line-height: 76px;
    vertical-align: middle;
    width: 80px;
}

.avatar-100 {
    height: 100px;
    line-height: 96px;
    vertical-align: middle;
    width: 100px;
}

.avatar-120 {
    height: 120px;
    line-height: 116px;
    vertical-align: middle;
    width: 120px;
}

.avatar-50 {
    height: 50px;
    line-height: 46px;
    vertical-align: middle;
    width: 50px;
}

.avatar-70 {
    height: 70px;
    line-height: 66px;
    vertical-align: middle;
    width: 70px;
}

.avatar-90 {
    height: 90px;
    line-height: 86px;
    vertical-align: middle;
    width: 90px;
}

/* Gaya untuk kelas "no-shadow" */
.no-shadow {
    box-shadow: none !important;
}

/* Gaya untuk kelas "border-0" */
.border-0 {
    border: none !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/* Gaya untuk kelas "overlay" */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.gradient-primary {
    /* background: linear-gradient(to bottom, #111340, #1b1e66); */
    color: white;
    transition: opacity 0.3s ease;
}

.font-bold {
    font-weight: bold;
}
